<a href="https://colab.research.google.com/github/esanruben/programa-python-utec/blob/main/%5B3%5D_Progama_Python_UTEC_Sesion03_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1] Tuplas

### [1.1] Tuplas a partir de un DataFrame

In [ ]:
import pandas as pd
data = pd.read_csv("clientes.csv",sep=';')
dimensiones=data.shape #conocer las dimensiones dataframe

In [ ]:
type(dimensiones)

tuple

In [ ]:
print(f"la tupla dimensiones es \n{dimensiones}")

la tupla dimensiones es
(8, 5)


*   8 son filas
*   5 columnas

### [1.2] Tuplas a partir de enumerate

In [ ]:
paises = ['perú','colombia','venezuela','ecuador','chile']

for i,pais in enumerate(paises): #i es lo que se va a enumerar, pais es el que va a recorrer en la lista
  print((i,pais))

  # aqui se uso //   enumerate /  para enumerar la i

(0, 'perú')
(1, 'colombia')
(2, 'venezuela')
(3, 'ecuador')
(4, 'chile')

### [1.3] Tuplas a partir de librería os

In [ ]:
import os

ruta = "/home/usuario/archivo.txt"
resultado = os.path.split(ruta)   # divide la ruta
print(resultado)

('/home/usuario', 'archivo.txt')

In [ ]:
type(resultado)

tuple

## [2] Crear tuplas e identificar los tipos de tuplas

In [ ]:
tupla_0 = ('ibk','bcp','bbva')  #tupla es con parentesis
print(f"La tupla, tiene los siguientes elementos \n{tupla_0}")

La tupla, tiene los siguientes elementos
('ibk', 'bcp', 'bbva')

In [ ]:
tupla_0 = () # Tupla vacía

In [ ]:
type(tupla_0)

tuple

In [ ]:
lista_0=[1]  #ejemplo  he creado una lista con un elemento
type(lista_0)

list

In [ ]:
tup_0=(1)  #ejemplo   he creado una tupla con 1 elemento (ERROR)
type(tup_0)

int

In [ ]:
#CORRECTO >  tupla con un elemento
tup_0=(1,)     # debes dejar la ,
type(tup_0)

tuple

In [ ]:
tupla_1 = (5,) # Tupla de 1 elemento
type(tupla_1)

## Actividad N022

Crear una tupla con el nombre “equipos”, los elementos de la tupla serán 5 equipos de fútbol y vamos a mostrar en pantalla el resultado.

In [ ]:
equipos=("Barcelona","Inter","Real Madrid","Chelsea","Manchester")  # es una tupla
print(f"la tupla de equipos de futbol \n{equipos}")

la tupla de equipos de futbol
('Barcelona', 'Inter', 'Real Madrid', 'Chelsea', 'Manchester')

## [3] Tipos de tuplas

In [ ]:
# Tupla homogénea => elementos son del mismo tipo

tupla_2 = (2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
print(f"La tupla es \n{tupla_2}")
print(f"\nEl objeto tupla_2 es del tipo {type(tupla_2)}")

La tupla es
(2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)

El objeto tupla_2 es del tipo <class 'tuple'>

## Actividad N023

(2,5.5,'UTEC',True)

Crear una tupla con la información de la imagen superior y nombrar como “info_personal”.
¿Qué tipo de tupla es “info_personal”?

In [ ]:
info_personal=(2,5.5,'UTEC',True)
# primer elemento = numero de hijos (entero)
# segundo elemento = años de experiencia docente (flotante)
# tercer elemento = Universidad de procedencia (cadena caracteres)
# cuarto elemnto = disponibilidad en el extranjero (booleano)
print(f"el objeto info_personal es del tipo {type(info_personal)}")

# diferentes elementos de la tupla, es una tupla heterogenea

el objeto info_personal es del tipo <class 'tuple'>

## [4] Acceder a los elementos de las tuplas

In [ ]:
materias = ('algebra','aritmética','razonamiento verbal','trigonometría','geometría')

# tupla y listas / solo se diferencian al momento de crearla,  lista usa () y tuplas usa []

In [ ]:
print(f"el tercer elemento de la tupla materias es: {materias[2]}")  # se usa corchetes para entrar a elementos de una tupla

el tercer elemento de la tupla materias es: razonamiento verbal

In [ ]:
type(materias[2])  # como entrega solo 1 elemento de la tupla, identfica ese elemento como un str

str

In [ ]:
materias[1:3]

('aritmética', 'razonamiento verbal')

In [ ]:
type(materias[1:3])  # aca me muestra 2 elementos y lo muestra dentro de la tupla

tuple

In [ ]:
print(f"La tupla es {tupla_2}")
print(f"El elemento de índice 1 de la tupla es {tupla_2[1]}")

La tupla es (2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
El elemento de índice 1 de la tupla es 2.5

In [ ]:
tupla_4 = (1,2,3,4,5,6,7,8,9,10)

In [ ]:
# Acceder a los elementos de la tupla por operadores de segmentación
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[2:7]}")

Los elementos seleccionados de la tupla original son
(3, 4, 5, 6, 7)

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[-8:-3]}")

Los elementos seleccionados de la tupla original son
(3, 4, 5, 6, 7)

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[7:]}")

Los elementos seleccionados de la tupla original son
(8, 9, 10)

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[0:4]}")

Los elementos seleccionados de la tupla original son
(1, 2, 3, 4)

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[:4]}")

Los elementos seleccionados de la tupla original son
(1, 2, 3, 4)

## Actividad N024

Acceder al último elemento de la tupla (“equipos”).

In [ ]:
equipos[-1]

'Manchester'

Acceder a los primeros 3 elementos de la tupla (“equipos”).

In [ ]:
equipos[:3]

('Barcelona', 'Inter', 'Real Madrid')

## [5] Desempaquetado de tuplas

In [ ]:
var_1, var_2 = "UTEC","UPC" # Desempaquetado de dos cadenas de caracteres en dos variables (var_1,var_2)

In [ ]:
print(f"El valor del objeto var_1 es {var_1}")
print(f"El valor del objeto var_2 es {var_2}")

El valor del objeto var_1 es UTEC
El valor del objeto var_2 es UPC

In [ ]:
print(f"La selección de los primeros tres elementos es {t_vocales[0:3]}")

In [ ]:
t_vocales = ("a", "e", "i", "o", "u")
print(f"La tupla vocales es {t_vocales}")

La tupla vocales es ('a', 'e', 'i', 'o', 'u')

# IMPORTANTE proceso de desempaquetado

In [56]:
x, y, z = t_vocales[0:3] # Desempaquetar los elementos de la tupla en 3 variables

In [57]:
print(f"El primer elemento de la tupla vocales es {x}.")
print(f"El segundo elemento de la tupla vocales es {y}.")
print(f"El tercer elemento de la tupla vocales es {z}.")

El primer elemento de la tupla vocales es a.
El segundo elemento de la tupla vocales es e.
El tercer elemento de la tupla vocales es i.

In [58]:
t_vocales[0] = "A" # Tuplas son inmutables

TypeError: 'tuple' object does not support item assignment

In [59]:
print(materias)

('algebra', 'aritmética', 'razonamiento verbal', 'trigonometría', 'geometría')

In [60]:
mat1,mat2,mat3 = materias[0:3]

In [61]:
print(f"la primera materia de mi progrema es {mat1}")
print(f"la segunda materia de mi progrema es {mat2}")
print(f"la tercera materia de mi progrema es {mat3}")

la primera materia de mi progrema es algebra
la segunda materia de mi progrema es aritmética
la tercera materia de mi progrema es razonamiento verbal

## Actividad N025

Desempaquetar los 2 últimos equipos de la tupla (“equipos”) y almacenarlos en los objetos equipo_A y equipo_B.

In [62]:
equipo_a,equipo_b=equipos[-2:]

In [63]:
print(f"equipo a es: {equipo_a}")
print(f"equipo b es: {equipo_b}")

equipo a es: Chelsea
equipo b es: Manchester

## [6] Desempaquetado de tuplas con FOR

In [65]:
t_prod = (("A0001","manzana",3.0),("A0002","aceite",7.5)) # tupla de tuplas

In [66]:
print(f"La tupla de productos es \n{t_prod}")

La tupla de productos es
(('A0001', 'manzana', 3.0), ('A0002', 'aceite', 7.5))

In [67]:
for cod,prod,pre in t_prod: # se usa el for
  print(f"El producto {prod} con código {cod} tiene el precio vigente en S/.{pre}")

El producto manzana con código A0001 tiene el precio vigente en S/.3.0
El producto aceite con código A0002 tiene el precio vigente en S/.7.5

## [7] Función tuple

In [68]:
pares = tuple(range(2,11,2))  # funcion tuple permite  crear tuplas
print(f"la tupla pares es: {pares}")

la tupla pares es: (2, 4, 6, 8, 10)

In [69]:
lista_ = list(range(10)) # Función list me permite crear listas

In [70]:
print(f"La lista {lista_} es del tipo {type(lista_)}")

La lista [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] es del tipo <class 'list'>

In [73]:
tupla_ = tuple(lista_) # Función tuple me permite crear tuplas a partir de una lista
print(f"La tupla {tupla_} es del tipo {type(tupla_)}")

La tupla (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) es del tipo <class 'tuple'>

In [72]:
tuple("David")

('D', 'a', 'v', 'i', 'd')

## Actividad N026

Crear la tupla cobre_prod, esta tupla estará compuesta por la información del cuadro.

## Actividad N027

Desempaquetar la tupla cobre_prod, imprimir en pantalla los siguientes enunciados.