<a href="https://colab.research.google.com/github/esanruben/programa-python-utec/blob/main/Clase6_Estructuras_de_control_Repetitivas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción a Diccionarios

**¿Qué es un diccionario?**

Es una colección de datos en formato clave: valor.

Permite acceder a la información mediante claves, no por posición como las listas.

**¿Para qué sirve?**

Ideal para representar objetos del mundo real.

Muy útil en el sector financiero para almacenar datos de clientes, productos financieros, tasas, etc.

Ejemplo:

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["ingreso"])  # Acceder al ingreso del cliente

4500

In [ ]:
cliente

{'nombre': 'Ana', 'edad': 35, 'ingreso': 4500, 'morosidades': 0}

In [ ]:
alumno={
    "nombre": 'Ruben',
    "carrera": "Ingenieria sistemas",  #tiene que ir una coma despues de cada uno.
    "hobby":'futbol'
}
print(alumno["carrera"])

Ingenieria sistemas

In [ ]:
alumno ["musica"] ="salsa"
alumno

{'nombre': 'Ruben',
 'carrera': 'Ingenieria sistemas',
 'hobby': 'futbol',
 'musica': 'salsa'}

**Cómo acceder a valores:**

Usando la clave: diccionario["clave"]

**Añadir nuevo par clave-valor:**

In [ ]:
cliente["tipo_credito"] = "Hipotecario"
#corchete crea el nombre de la llave, y luego el valor asociado a la llave

In [ ]:
cliente

{'nombre': 'Ana',
 'edad': 35,
 'ingreso': 4500,
 'morosidades': 0,
 'tipo_credito': 'Hipotecario'}

**Empezar con un diccionario vacío:**

In [ ]:
artefactos={}
artefactos["modem"]= "nuevo"
artefactos["audifonos"]= "sony"
artefactos

{'modem': 'nuevo', 'audifonos': 'sony'}

In [ ]:
artefactos["audifonos"]="Bose"  # modifica
artefactos

{'modem': 'nuevo', 'audifonos': 'Bose'}

In [ ]:
nuevo_cliente = {}  # diccionario vacio/ usas {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000
nuevo_cliente["hobby"] = "fronton"

In [ ]:
nuevos ={                     # crear un diccionario / que contiene un diccionario
    "alumno":{"nombre":"Ruben","hobby":"futbol"},
    "nuevo_cliente":{"nombre":"Luis","hobby":"fronton"}
}

nuevos["alumno"]["nombre"]="Andres"  #modificar diccionario, dentro otro diccionario
nuevos

{'alumno': {'nombre': 'Andres', 'hobby': 'futbol'},
 'nuevo_cliente': {'nombre': 'Luis', 'hobby': 'fronton'}}

In [ ]:
#agregar una elemento en un diccionario
nuevos["nuevo_cliente"]["musica"]= "salsa"
nuevos

{'alumno': {'nombre': 'Andres', 'hobby': 'futbol'},
 'nuevo_cliente': {'nombre': 'Luis', 'hobby': 'fronton', 'musica': 'salsa'}}

**Modificar valores:**

In [ ]:
cliente["ingreso"] = 5000   # nombre del diccionario [valor] = nuevo valor
cliente

{'nombre': 'Ana',
 'edad': 35,
 'ingreso': 5000,
 'morosidades': 0,
 'tipo_credito': 'Hipotecario'}

**Eliminar pares clave-valor:**

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso": 4000},
    "002": {"nombre": "Luis", "ingreso": 3000}
}

In [ ]:
del clientes['001']  # para borrar
clientes

{'002': {'nombre': 'Luis', 'ingreso': 3000}}

### **Modificar el nombre dentro del diccionario del diccionario**

**Ejercicio 1:**

Crea un diccionario para un producto financiero con claves como nombre, tasa de interés y tipo. Luego accede a la tasa de interés y modifícala.

In [ ]:
financiero ={
    "nombre":"beca",
    "tasa_interes":0.05,
    "tipo": "nuevo"
}
financiero["tasa_interes"]  # llaman solo la llave tasa de interes

0.05

In [ ]:
financiero["tasa_interes"]=0.07 # modifica la tasa de interes
financiero

{'nombre': 'beca', 'tasa_interes': 0.07, 'tipo': 'nuevo'}

**Ejercicio 2:**

Crea un diccionario de 3 clientes con su nombre e ingresos. Agrega un nuevo cliente. Luego, elimina uno de los existentes.

In [ ]:
clientes={
    "1":{"nombre":"Karla","ingreso":2000},
    "2":{"nombre":"Andres","ingreso":2000}
}

clientes ["3"]= {"nombre":"Luis","ingreso":2000}  # agregas un nuevo diccionario, un nuevo cliente
clientes

{'1': {'nombre': 'Karla', 'ingreso': 2000},
 '2': {'nombre': 'Andres', 'ingreso': 2000},
 '3': {'nombre': 'Luis', 'ingreso': 2000}}

In [ ]:
del clientes["1"]    # eliminas al cliente 1
clientes

{'2': {'nombre': 'Andres', 'ingreso': 2000},
 '3': {'nombre': 'Luis', 'ingreso': 2000}}

# 2. For en Python

**¿Qué es for?**

Una estructura de control repetitiva.

Se usa para recorrer elementos de una lista, string o diccionario.

**¿Para qué sirve?**

Automatizar procesos repetitivos, como revisar múltiples clientes o productos financieros.

**Sintaxis básica:**

In [30]:
lista_clientes=["Ana","Sofia","Andres"]
lista_clientes

['Ana', 'Sofia', 'Andres']

In [31]:
for cliente in lista_clientes:  # cliente es un variable temporal
    print(cliente)

Ana
Sofia
Andres

**¿Por qué es repetitiva?**

Porque ejecuta el mismo bloque de código por cada elemento en la secuencia.

In [37]:
ingresos = [1000, 2000, 3000,2000,1500,2300,2345]
for ingreso in ingresos:
    print("Ingreso anual:", ingreso * 12)  # aca calcula x 12 cada elemento

Ingreso anual: 12000
Ingreso anual: 24000
Ingreso anual: 36000
Ingreso anual: 24000
Ingreso anual: 18000
Ingreso anual: 27600
Ingreso anual: 28140

In [38]:
for ingreso in ingresos:
    print("Ingreso :", ingreso)

Ingreso : 1000
Ingreso : 2000
Ingreso : 3000
Ingreso : 2000
Ingreso : 1500
Ingreso : 2300
Ingreso : 2345

usar la estructura for para calcular el ingreso anual (ingreso * 12) sin mostrar el calculo, finalmente mostrar la lista completa

In [43]:
for ingreso in ingresos:     #ingreso es temporal
   ingreso_anual= ingreso *12  # ingreso_anual es temporal
ingresos  # error / no ejecuta la operacion de arriba

[1000, 2000, 3000, 2000, 1500, 2300, 2345]

In [44]:
ingreso_anual  # solo te dara el ultimo valor / seria un error

28140

In [46]:
ingresos[0] = ingreso * 12  # error/  toma el ultimo valor de ingreso que fue 28140 / no la ubicacion [0]
ingresos                  # por al inicio lo muestra es 2810 x 12 =  28140

[28140, 2000, 3000, 2000, 1500, 2300, 2345]

Ejemplo 2: Recorrer un diccionario de clientes

In [ ]:
for id_cliente in clientes:
    print("ID:", id_cliente, "Ingreso:", clientes[id_cliente]["ingreso"])

Ejemplo 3: Contar cuántos clientes tienen ingreso > 3000

In [ ]:
contador = 0
for cliente in clientes.values():
    if cliente["ingreso"] > 3000:
        contador += 1
print("Clientes con alto ingreso:", contador)

Ejemplo 4: Crear una lista con tasas ajustadas

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for tasa in tasas:
    tasas_ajustadas.append(tasa + 0.01)
print(tasas_ajustadas)

Ejemplo 5: Reporte de evaluación

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
for nombre in clientes:
    print(f"Evaluación enviada a {nombre}")